* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #searchInput {
  width: 100px;
} */

#ulResults {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liResults {
  width: 600px;
  padding: 15px 0px 15px 0px;
  margin-left: 15px;
  border-bottom: 2px solid rgb(161, 161, 172);
}

.compImg {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.liSymbol {
  margin-left: 20px;
  color: rgb(156, 156, 156);
  font-size: 12px;
}

.liPercentage {
  font-size: 12px;
}

.greenPercentage {
  color: rgb(18, 163, 5); 
}

/* .companyName {
font-size: 80px;
color: crimson;
} */

/* ====================================== Milestone 4 ====================================== */

.wrapper {
  position: relative;
  overflow: hidden;
  height: 25px;
  width: 100%;
}

.wrapper p {
  position: relative;
  margin: 0;
  line-height: 25px;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  100% { transform: translate(-100%, 0); }
}

.marqueeCompanyPrice {
    color: rgb(18, 163, 5); 
    padding-left:2px;
}

.marqueeCompanySymbol {
  padding-left:10px;
}

/* ========================================================================================= */





